{% extends 'layout.html' %}
{% load static %}

{% block content %}

<br><br><br>

<div class="container">
    <div class="row">
        <div class="col">
            <br>
          <img style="width: 250px; margin-left:300px;" src="{% static 'image/detail.png' %}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col" style="margin-top:100px;" >
        <h2 style="margin-right:210px;" class="text-center mb-1"><i>Information sur la disponibilite</i></h2>
        </div>
    </div>
</div>

<br><br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card-body rounded">
                <table class="table border border-4">
                    <thead rounded>
                    <tr class="list-group-item-secondary">
                        <th>Date</th>
                        <th>disponibilite</th>
                        <th>Utilisateur</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{disponibilite.date}}</td>
                            <td>{{disponibilite.disponibilite}}</td>
                            <td>{{disponibilite.utilisateur.nom}}</td>
                          <td>
                            <a href="{% url 'disponibilite-update' disponibilite.id %}"><i style="color:#7AECB5 ;" class="fa-solid fa-pencil"></i></a> &nbsp;&nbsp; 
                            <a href="{% url 'disponibilite-delete' disponibilite.id %}"><i style="color:#7AECB5 ;" class="fa-solid fa-trash-can"></i></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
            </div>
            <br>
        <a style="color:#7AECB5;" class="btn " href="{% url 'disponibilite-index' %}">Retourner à la liste des disponibilites</a>
        </div>
    </div>
</div>

{% endblock %}